<form #f="ngForm">
    <label>
      Primary Guest:
      <input type = "text" name="PrimaryGuest">
    </label>
    <label>
      WillBeAttending:
      <input type = "checkbox" name="WillBeAttending">
    </label>
    <label>
      Comment:
      <input type = "text" name="Comment" >
    </label>
    <label>
      Additional Guest:
      <input type = "checkbox" name="AdditionalGuest">
    </label>
    <label>
      Additional Guest Name:
      <input type = "text" name="AdditionalGuestName" >
    </label>
   <button>Add</button>
  </form>
